<a href="https://colab.research.google.com/github/shourav47/Data-Analysis/blob/main/Data_Analysis_for_Practice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Creating a Dataframe & Concatation of Dataframe

In [16]:
#dataframe creation (method 1)
import pandas as pd
import numpy as np
student = pd.DataFrame(data={'Name':['A','B','C','D'],'Age':[11,22,34,45]})
#display(student)

In [17]:
#dataframe creation (method 2)
teacher = pd.DataFrame()
teacher['Name']= ['c','d','e','f']
teacher['Age'] = [55,54,33,56]
#display(teacher)

In [18]:
#dataframe concatation
school = pd.concat([student,teacher], axis=0)
# display(school.head(8))
school['a'] = np.arange(0,len(school),1)
school.set_index(school['a'],inplace= True)
display(school.head(8))
# s = pd.Series(np.arange(0,len(school),1))
# school.set_index([s])
# display(school)

  Name  Age  a
a
0    A   11  0
1    B   22  1
2    C   34  2
3    D   45  3
4    c   55  4
5    d   54  5
6    e   33  6
7    f   56  7

In [19]:
#dataframe concatation
school = pd.concat([student,teacher], axis=1)
display(school.head(8))

  Name  Age Name  Age
0    A   11    c   55
1    B   22    d   54
2    C   34    e   33
3    D   45    f   56

In [20]:
#data frame cocatation with correct index
school = pd.concat([student, teacher], axis = 0)
school = school.set_index(np.arange(0,len(school),1))
display(school.head(10))

  Name  Age
0    A   11
1    B   22
2    C   34
3    D   45
4    c   55
5    d   54
6    e   33
7    f   56

###Uses of inplace

In [21]:
random = pd.DataFrame()
random['A'] = [1,2,3,4]
random['B'] = [5,6,7,8]
# display(random.head(1))
# #(Part_1): we did no updated the random column yet
# random.rename(columns={'A':'a','B':'b'})
# display(random.head(1))
# #(part_2): We have updated the random
# random = random.rename(columns={'A':'a','B':'b'})
# display(random.head(1))
#(part_3): The same this of part 2 can be done in different way
random.rename(columns={'A':'a','B':'b'}, inplace= True)
display(random.head(1))

   a  b
0  1  5

#Percentage of Missing values in each Columns

In [22]:
# summarize the horse colic dataset
from pandas import read_csv
# load dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/horse-colic.csv'
dataframe = read_csv(url, header=None, na_values='?')
# summarize the first few rows
print(dataframe.head())
# summarize the number of rows with missing values for each column
for i in range(dataframe.shape[1]):
	# count number of rows with missing values
	n_miss = dataframe[[i]].isnull().sum()
	perc = n_miss / dataframe.shape[0] * 100
	print('> %d, Missing: %d (%.1f%%)' % (i, n_miss, perc))

    0   1        2     3      4     5    6   ...   21   22  23     24  25  26  27
0  2.0   1   530101  38.5   66.0  28.0  3.0  ...  NaN  2.0   2  11300   0   0   2
1  1.0   1   534817  39.2   88.0  20.0  NaN  ...  2.0  3.0   2   2208   0   0   2
2  2.0   1   530334  38.3   40.0  24.0  1.0  ...  NaN  1.0   2      0   0   0   1
3  1.0   9  5290409  39.1  164.0  84.0  4.0  ...  5.3  2.0   1   2208   0   0   1
4  2.0   1   530255  37.3  104.0  35.0  NaN  ...  NaN  2.0   2   4300   0   0   2

[5 rows x 28 columns]
> 0, Missing: 1 (0.3%)
> 1, Missing: 0 (0.0%)
> 2, Missing: 0 (0.0%)
> 3, Missing: 60 (20.0%)
> 4, Missing: 24 (8.0%)
> 5, Missing: 58 (19.3%)
> 6, Missing: 56 (18.7%)
> 7, Missing: 69 (23.0%)
> 8, Missing: 47 (15.7%)
> 9, Missing: 32 (10.7%)
> 10, Missing: 55 (18.3%)
> 11, Missing: 44 (14.7%)
> 12, Missing: 56 (18.7%)
> 13, Missing: 104 (34.7%)
> 14, Missing: 106 (35.3%)
> 15, Missing: 247 (82.3%)
> 16, Missing: 102 (34.0%)
> 17, Missing: 118 (39.3%)
> 18, Missing: 29 (9.7%)
> 19, Missing: 33 (11.0%)
> 20, Missing: 165 (55.0%)
> 21, Missing: 198 (66.0%)
> 22, Missing: 1 (0.3%)
> 23, Missing: 0 (0.0%)
> 24, Missing: 0 (0.0%)
> 25, Missing: 0 (0.0%)
> 26, Missing: 0 (0.0%)
> 27, Missing: 0 (0.0%)

#Advanced iloc & loc practice in python

In [23]:
# crete a sample dataframe
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'city' :    [ 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', np.NAN, 'yellow', np.NAN, 'black', 'green', 'red']})
display(data)

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       B    Delhi      F             NaN
2   13       C   Mumbai      F          yellow
3   21       B    Delhi      M             NaN
4   12       B   Mumbai      M           black
5   11       A    Delhi      M           green
6   17       A   Mumbai      F             red

###Question on mind
1.  Find the values of the rows where age is greater than 15

In [24]:
display(data.loc[data.age>=15])

   age section    city gender favourite_color
1   22       B   Delhi      F             NaN
3   21       B   Delhi      M             NaN
6   17       A  Mumbai      F             red

2.  Finding all the rows where the age is greater than or equal to 12 and the gender is also male:

In [26]:
display(data.loc[(data.age >=12) & (data.gender == 'M')])

   age section    city gender favourite_color
3   21       B   Delhi      M             NaN
4   12       B  Mumbai      M           black

3.  Find the last 3 rows with last 3 column using loc & iloc methohd

In [42]:
#loc depends on the index position. It gives only 4,5,6 rows.
display(data.loc[4:6])

#iloc maintains indexing. & upper limit excluded.
display(data.iloc[4:6,2:5])

   age section    city gender favourite_color
4   12       B  Mumbai      M           black
5   11       A   Delhi      M           green
6   17       A  Mumbai      F             red

     city gender favourite_color
4  Mumbai      M           black
5   Delhi      M           green

4.  Select the column Gender & City where age is greater than 13.

In [44]:
display(data.loc[(data.age>=13),['city','gender']])

     city gender
1   Delhi      F
2  Mumbai      F
3   Delhi      M
6  Mumbai      F

#Update the gender 'M' to 'F' when the age is greater than 15

In [48]:
data.loc[(data.age>=13), ['gender']] = 'F'
display(data)

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       S     Pune      F             NaN
2   13       F   Mumbai      F          yellow
3   21       S     Pune      F             NaN
4   12       B   Mumbai      M           black
5   11       A    Delhi      M           green
6   17       F   Mumbai      F             red

In [49]:
# update multiple columns with condition
data.loc[(data.age >= 20), ['section', 'city']] = ['S','Pune']
data

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       S     Pune      F             NaN
2   13       F   Mumbai      F          yellow
3   21       S     Pune      F             NaN
4   12       B   Mumbai      M           black
5   11       A    Delhi      M           green
6   17       F   Mumbai      F             red

In [57]:
# select rows with indexes
display(data.iloc[0:2,:])

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       S     Pune      F             NaN

In [59]:
#showing difference between df1 & df2
df1 = data.iloc[[0,2],[1,3]]
display(df1)
df2 = data.iloc[0:2,1:3]
display(df2)

  section gender
0       A      M
2       F      F

  section     city
0       A  Gurgaon
1       S     Pune